<!DOCTYPE html>
<html lang = "en"> 
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Lab</title>
    </head>
    <body>
        <div id = "lab">
            <h1>{{ catalog.name }} Lab</h1>
            <button id="toggle">Vulnerable</button>
            <div id="lab-container">
                <h2>Lab</h2>
            </div>
            <div id="lab-output">
                <h2>Output</h2>
            </div>
            <div id="explanation">
                <h2>Explanation</h2>
            </div>
        </div>
    </body>
</html>